*{
    font-family:"Papyrus", cursive,sans-serif;
    margin:0;
    padding:0;
}


header {
    background:deepskyblue;
    text-align: right;
    border-bottom:5px solid deeppink;
    font-size:36px;
    padding:10px;
    position: fixed;
    width: 100%;
}
a {
    margin:0 20px;
}
main {
    text-align: center;
    background-color: chartreuse;
    font-size:36px;
    padding-top:100px;
}
aside{
    border-top:5px solid deepskyblue;
    background:deeppink;
    font-size:36px;
    text-align: center;
    padding:20px;
}

form {
    border:5px solid deepskyblue;
    width:40%;
    margin:0 auto;
    padding:20px;
    border-radius: 5px;
    
}
button {
    font-size:36px;
}

form *{
    margin:5px;
}

footer {
    background:deepskyblue;
    text-align: center;
    border-top:5px solid chartreuse;
    font-size:36px;
    padding:10px;
}